%h1= @event.title

%p
  = t("contact.salutation.#{@contact.gender}", last_name: @contact.last_name)
  %br
  = t("invitation.invite.thanks", event_name: @event.title)
%p
  = t("invitation.invite.date", 
    event_from: Time.parse(@event.dtstart_at).strftime("%d.%m.%Y %H:%m"), 
    event_until: Time.parse(@event.dtend_at).strftime("%d.%m.%Y %H:%m"), 
    event_location: @event.location)
%p
  = t("invitation.invite.closer")
%p
  = t("invitation.invite.college")
  
  = form_for @contact, url: {action: "create"}, html: {class: "form-horizontal"} do |f|
    %h3
      = t("invitation.invite.registration.me_headline")
    %p
      = t("invitation.invite.registration.me_description", cant: t("invitation.invite.form.value.unregistered")).html_safe
    %p
      .form-group
        = label(:contact, :status, class: "col-sm-2 control-label")
        .col-sm-10
          = select_tag("state", |
            options_for_select([ |
              [t("invitation.invite.form.value.registered"), "registered"], |
              [t("invitation.invite.form.value.unregistered"), "unregistered"] |
            ]), |
            class: "form-control") |
      .form-group
        =f.label :first_name, class: "col-sm-2 control-label"
        .col-sm-4
          =f.text_field :first_name, class: "form-control"
        =f.label :last_name, class: "col-sm-2 control-label"
        .col-sm-4
          =f.text_field :last_name, class: "form-control"
      .form-group
        =f.label :email, class: "col-sm-2 control-label"
        .col-sm-10
          =f.text_field :email, class: "form-control"
      .form-group
        =f.label :phone, class: "col-sm-2 control-label"
        .col-sm-10
          =f.text_field :phone, class: "form-control"
    %h3
      = t("invitation.invite.registration.college_headline")
    %p
      = t("invitation.invite.registration.college_description")

    %p
      .form-group
        =label(:guest, :gender, class: "col-sm-2 control-label")
        .col-sm-2
          =select_tag("guest[gender]", |
            options_for_select([ |
              [t("invitation.invite.form.value.M"), "M"], |
              [t("invitation.invite.form.value.F"), "F"] |
            ]), |
            class: "form-control") |
        =label(:guest, :first_name, class: "col-sm-1 control-label")
        .col-sm-3
          =text_field(:guest, :first_name, class: "form-control")
        =label(:guest, :last_name, class: "col-sm-1 control-label")
        .col-sm-3
          =text_field(:guest, :last_name, class: "form-control")
      .form-group
        =label(:guest, :email, class: "col-sm-2 control-label")
        .col-sm-10
          =text_field(:guest, :email, class: "form-control")
      .form-group
        =label(:guest, :phone, class: "col-sm-2 control-label")
        .col-sm-10
          =text_field(:guest, :phone, class: "form-control")
      .form-group
        .col-sm-offset-2.col-sm-10
          =hidden_field(:params, :event, value: params[:event])
          =hidden_field(:params, :contact, value: params[:contact])
          =hidden_field(:params, :extern, value: params[:extern])
          =hidden_field(:params, :locale, value: I18n.locale)
          %button.btn.btn-default{type: "submit"}= t("invitation.invite.form.submit")
