.editing-mediabrowser-filter
  %ul.editing-mediabrowser-filter-items
    %li.filter.all
      %i.editing-icon.editing-icon-search{title: t('.results')}

      %span.editing-mediabrowser-filter-name
        = t('.results')

    - obj_classes.each do |obj_class|
      - icon_class = "editing-icon-#{t(".icon_class.#{obj_class.underscore}")}"

      %li.filter{data: { obj_class: obj_class }}
        %i.editing-icon{title: obj_class, class: icon_class}

        %span.editing-mediabrowser-filter-name
          = t(".#{obj_class.underscore}")

    %li.separator

    %li.filter.selected-items
      %i.editing-icon.editing-icon-ok-box{title: t('.selected')}

      %span.editing-mediabrowser-filter-name
        = t('.selected')

        %span.editing-mediabrowser-counter.selected-total
          0
